* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* common css */
.container {
  max-width: 1320px;
  margin: 0px auto 120px;
}
.heading-lvl-1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.heading-lvl-2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.heading-lvl-3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.primary-btn {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;

  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

/* header section */
.hero-header {
  margin-top: 50px;
  padding: 177px 345px;
  max-width: 1320px;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/BannerImage.png") no-repeat center;
}
.hero-header h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.hero-header h1 {
  color: #fff;
  text-align: center;
  line-height: 95px;
}

/* 65% OFF section */
.off65 {
  padding: 0px 260px;
}
.off65 h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.off65 h3 {
  text-align: center;
  margin-bottom: 16px;
}
.off65 h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* welcome party section */
.welcome-party {
  border-radius: 16px;
  padding: 70px 130px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png") no-repeat center/cover;
  display: flex;
  justify-content: space-between;
}
.txt-content{
  margin: auto;
}
.welcome-party .txt-content h1 {
  color: #fff;
  font-size: 64px;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.welcome-party .txt-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}
.welcome-party .txt-content button {
  background-color: transparent;
}

/* joining details section */
.join-details {
  padding: 100px 185px;
}
.join-details .details {
  text-align: center;
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 48px;
}
.red-txt {
  color: #f00;
}
.join-details button {
  display: block;
  margin: 0px auto;
}

/* best offer section */
.best-offer {
  display: flex;
  align-items: center;
  gap: 90px;
}
.offer-parag {
  max-width: 400px;
}
.offer-parag h3 {
  margin-bottom: 16px;
}
.offer-parag h2 {
  margin-bottom: 22px;
}
.circle-img {
  border: 15px solid red;
  border-radius: 50%;
  padding: 30px;
}
.new-year h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 112px;
  margin-bottom: 16px;
}
.new-year p{
  margin-bottom: 42px;
}

/* holidays sale */
.holidays-sale{
  text-align: center;
}
.holidays-sale h3{
  color: #070211;
  margin-bottom: 16px;
}
.holidays-sale h1{
  margin-bottom: 28px;
}
.holidays-sale > p{
  width: 930px;
  margin: 0px auto 65px;
}
.holiday-img{
  height: 650px;
  background-image: url("../images/Group\ 75.png"), url("../images/Rectangle2.png"), url("../images/Group\ 44.png"), url("../images/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: top left, bottom, 73% 20%, top right;

  mix-blend-mode: multiply;
}

/* product portfolio section */
.portfolio h3{
  margin-bottom: 16px;
}
.portfolio h2{
  margin-bottom: 22px;
}
.portfolio p{
  max-width: 970px;
  margin-bottom: 48px;
}
.portfolio-imgs img{
  margin: 0px 10px 10px 0px;
  transition: 250ms;
  background-color: transparent;
  border-radius: 18px;
}
.portfolio-imgs img:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}

/* subscribe section */
.subscribe{
  padding: 80px 212px;
  text-align: center; 
}
.subscribe .mail-icon{

  margin-bottom: 40px;
}
.subscribe > h2{
  margin-bottom: 22px;
}
.subscribe > p{
  margin-bottom: 48px;
}
.subscribe-form .subscriber-email{
  border: none;
  padding: 25px 30px;
  border-radius: 50px 0px 0px 50px;
  width: 450px;
}
.subscribe-form .subscribe-btn{
  border-radius: 0px 50px 50px 0px;
  padding: 24px 56px;
  font-weight: 600;
}

/* footer section */
footer{
  background-color: #070211;
  padding: 120px 140px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
footer hr{
  color: rgba(255, 255, 255, 0.15);
}
footer .location-contact{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .location-contact .location{
  max-width: 375px;
}
footer .location-contact .contact{
  padding-right: 140px;
}
footer .location-contact .contact img{
  margin: 10px;
  vertical-align: middle;
}
footer .social-links{
  margin: 48px 0px;
  text-align: center;
}
footer .copyright{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}